**
!Dockerfile
!.dockerignore
!pubspec.yaml
!pubspec.lock
!analysis_options.yaml
!l10n.yaml
!lib/
!lib/**
!web/
!web/**
!assets/
!assets/**
!deploy/
!deploy/docker.nginx.conf
**/.env
**/.env.*
**/*service-account*.json
**/*.pem
**/*.key
**/*.p8
